@media print {
   @page {
      size: A4;
   }

   a[href]:after {
      display: none;
      visibility: hidden;
   }

   body {
      column-count: 2;
      font-size: 10pt;
   }

   img.avatar {
      filter: grayscale(1);
      width: 50%;
      -webkit-filter: greyscale(1);
   }
   .main-wrapper {
      padding: 0px !important;
   }

   .main-wrapper .time {
      float: right;
      color: black !important;
      -webkit-print-color-adjust: exact;
   }

   .sidebar-wrapper {
      width: 80%;
      -webkit-print-color-adjust: economy;
   }

   .remove-container.container-block {
      display: none;
   }
   .container-block {
      margin-top: -25px;
    }

   footer {
      display: none;
   }

   .skillset .level-bar-inner {
      background-color: black !important;
      -webkit-print-color-adjust: exact;
   }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
      color: #ffffff !important;
   }

   .time{
      font-size: 7pt;
   }

}